<mat-card class="gist-card">
  <mat-card-title>
    {{gist?.description}}
  </mat-card-title>
  <mat-card-subtitle>{{gist?.url}}</mat-card-subtitle>
  <mat-card-content>
    <div>
    <span>Files in gist </span>
    <img *ngFor="let fileInfo of filesInfo" class="bagde" [src]="fileTypeService.getIconLinkForExtension(fileInfo.extension)" alt="**"
         [matTooltip]="fileInfo.extension" matTooltipPosition="below" (click)="openDialogWithFileContent(fileInfo)">
    </div><br>
    <div *ngIf="avatarInfoForks.length">
      <span>Fork avatars </span>
      <img *ngFor="let fork of avatarInfoForks" class="bagde" [src]="fork.url" alt="**"
           [matTooltip]="fork.username" matTooltipPosition="below">
    </div>

  </mat-card-content>
</mat-card>
