.gist-card {
  margin: 40px;
  width: 40vh;
  display: flex;
  flex-direction: column;
}

.bagde {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding-left: 15px;
  object-fit: cover;
  background-size: auto;
  cursor: pointer;

}
